input {
	display: block;
	width: 100%;
	padding: 0.5rem 0.75rem;
	border: var(--border-width) var(--border-style-solid) var(--primary-glare);
	background-color: var(--shade-light);
	color: var(--primary);
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	font-size: clamp(.88rem, .83rem + .24vw, 1rem);
}

label {
	display: block;
	text-transform: uppercase;
	font-family: var(--font-base);
	font-size: clamp(.88rem, .83rem + .24vw, 1rem);
	font-weight: var(--font-bold);
}

label+* {
	margin-top: 0.35rem;
}

.form-item {
	width: 100%;
}